.blog_page_heading,
.news_page_heading {
    margin-bottom: 50px;
    padding-top: 50px;

    .date_category {
        display: flex;
        gap: 25px;
        align-items: center;
        color: var(--light-brack);
        margin-bottom: 13px;

        .category {
            background-color: #EEE;
            padding: 0 10px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 0.03em;
    }
}

.blog_page_container {
    width: 100%;
    max-width: 596px;
    margin: 0 auto;
}

.blog_page_profile {
    border: 2px solid var(--blue);
    padding: 15px;
    margin-bottom: 50px;

    h3 {
        font-size: 16px;
        font-family: var(--font-hiragino);
        font-weight: normal;
        border-bottom: 2px solid var(--blue);
        width: fit-content;
        margin-bottom: 20px;
    }
}

.blog_page_content {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.blog_page_content_ttl {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    h4 {
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 0.03em;
    }

    h5 {
        font-size: 21px;
        font-weight: normal;
        letter-spacing: 0.03em;
    }
}

.blog_page_content_txt {
    display: flex;
    gap: 20px;

    .line {
        width: 33px;
        height: 1px;
        background: var(--blue);
        margin-top: 10px;
    }

    p {
        width: fit-content;
    }
}

.page_arrow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 100px;
}

.page_arrow_flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prev_page_arrow,
.next_page_arrow {
    display: block;
    width: 40px;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--blue);
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    position:relative;

    &:hover {
        background-color: var(--blue);
    }
}

.prev_page_arrow {
    transform: rotate(180deg);
}

.prev_page_arrow::before,
.next_page_arrow::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 1px solid var(--blue);
    border-top: 1px solid var(--blue);
    top: 0;
    bottom: 0;
    left: -5px;
    right: 0;
    margin:auto;
    transform:rotate(45deg);
}

.prev_page_arrow:hover::before,
.next_page_arrow:hover::before {
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
}











/* ---------------------
SP
---------------------- */
@media screen and (max-width: 767px) {
    .blog-page-heading,
    .news-page-heading {
        margin-bottom: 20px;

        h2 {
            font-size: 21px;
        }
    }
}