/* -----------------------------------------
ブログ
----------------------------------------- */
.p_blog_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-bottom: 50px;
}

.p_blog_content {
    width: 32%;

    img {
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }

    &:hover {
        opacity: 0.7;
    }
}

.pagination_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.pagi_prev_arrow,
.pagi_next_arrow {
    display: block;
    width: 40px;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--blue);
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    position:relative;

    &:hover {
        background-color: var(--blue);
    }
}

.pagi_prev-arrow {
    transform: rotate(180deg);
}

.pagi_prev_arrow::before,
.pagi_next_arrow::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 1px solid var(--blue);
    border-top: 1px solid var(--blue);
    top: 0;
    bottom: 0;
    left: -5px;
    right: 0;
    margin:auto;
    transform:rotate(45deg);
}

.pagi_prev_arrow:hover::before,
.pagi_next_arrow:hover::before {
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
}

.pagination_list {
    display: flex;
    gap: 5px;

    a {
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid var(--blue);
        border-radius: 20px;
        place-content: center;
        text-align: center;
        font-family: var(--font-hiragino);
        font-size: 12px;
        color: var(--blue);
        transition: all .3s ease;

        &:hover {
            color: var(--white);
            background-color: var(--light-blue);
        }
    }
}

.pagination_item:first-child a {
    color: var(--white);
    background-color: var(--blue);
}
















    /* ---------------------
    SP
    ---------------------- */
    @media screen and (max-width: 767px) {
    .p_blog_container {
        margin-bottom: 50px;
    }

    .p_blog_content {
        width: 100%;

        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}



