/* -----------------------------------------
採用情報トップ
----------------------------------------- */

/* -----------------------------------------メッセージ */
.message_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_group {
    width: 52%;

    h4 {
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 50px;
    }
}



/* -----------------------------------------Anselの特徴 */
.r_feature_container {
    display: flex;
    justify-content: space-between;
}

.r_feature_content {
    width: 32%;
}

.r_feature_ttl {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;

    p {
        color: var(--blue);
        font-size: 21px;
        font-family: var(--font-yumincho);
        width: 40px;
        height: 40px;
        border: 1px solid var(--blue);
        display: grid;
        place-content: center;
    }

    h4 {
        color: var(--blue);
        font-size: 30px;
        font-weight: normal;
    }
}



/* -----------------------------------------報酬体系 */
.reward_wrapper {
    background: linear-gradient(90deg, #5081CE 0%, #1B3866 100%);
    text-align: center;
    margin-bottom: 100px;
    padding: 50px 0;

    h2 {
        color: var(--white);
        font-size: 56px;
        font-weight: normal;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    h3 {
        width: fit-content;
        margin: 0 auto;
        font-size: 24px;
        font-family: var(--font-hiragino);
        background-color: var(--white);
        padding: 10px 20px;
        border-radius: 50px;
    }
}



/* -----------------------------------------単価評価制度 */
.evaluation_container {
    background-color: #EEE;
    padding: 20px;
    margin-bottom: 50px;
}

.evaluation_content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--blue);

    &:last-child {
        margin-bottom: 0;
    }

    h4 {
        color: var(--blue);
        font-size: 30px;
        font-weight: normal;
        width: 25%;
    }
}

.evaluation_group {
    width: 45%;
    margin: 0 auto;
    padding: 20px 50px;
    border: 1px solid var(--blue);

    h5 {
        color: var(--blue);
        font-family: var(--font-hiragino);
        background-color: #EEE;
        margin-bottom: 15px;
        padding: 10px 20px;
        text-align: center;
        initial-letter: 0.05em;
    }
}

.evaluation_list_one,
.evaluation_list_second {
    width: 75%;
    margin: 0 auto;
}

.evaluation_list_one {
    margin-bottom: 50px;
}

.evaluation_item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    color: var(--light-black);
}

.btm_border {
    border-bottom: 2px solid var(--black);
    font-weight: bold;
    margin-bottom: 10px;
}

.total {
    border-top: 2px solid var(--black);
    padding-top: 10px;
    color: var(--red);
    font-weight: bold;
}

.evaluation_list_second > p {
    font-size: 12px;
}



/* -----------------------------------------想定給与表 */
.payroll_table {
    font-family: var(--font-noto);
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;

    th {
        color: var(--white);
    }

    td {
        padding: 15px;
        text-align: right;
    }

    /* 単価・賞与支給額・賞与社保 */
    .unit,
    .bonus,
    .bonus_social {
        background-color: var(--orange);
    }
    .unit_item,
    .bonus_item,
    .bonus_social_item {
        background-color: #FFE8CD;
    }

    /* 還元率 */
    .refund {
        background-color: var(--light-black);
    }
    .refund_item {
        background-color: #EAEAEA;
    }

    /* 還元率/年 */
    .refund_year {
        background-color: var(--blue);
    }
    .refund_year_item {
        color: var(--blue);
        font-weight: bold;
        background-color: #C9E2FF;
    }

    /* 還元率/月 */
    .refund_month {
        background-color: #3C8CE9;
    }
    .refund_month_item {
        background-color: #E1EFFF;
    }

    /*
    還元率/月・社会保険料・交通費
    */
    .salary_month,
    .socia_insurance,
    .transportation {
        background-color: #76A7E0;
    }
}



/* -----------------------------------------インセンティブ制度 */

/* タイトル */
.incentive_ttl {
    width: 50%;
    margin-bottom: 50px;

    h4 {
        font-size: 30px;
        font-weight: normal;
        font-weight: normal;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        padding-left: 20px;
        border-left: 5px solid var(--blue);
    }

    p {
        letter-spacing: 0.05em;
    }
}

/* 育成インセンティブ・紹介インセンティブ */
.incentive_nurturing,
.incentive_introduction {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.nurturing_table,
.introduction_table,
.certification_table {
    font-family: var(--font-noto);
    width: 50%;
}
/* 育成インセンティブ */

.nurturing_list,
.introduction_list {
    color: var(--white);

    .charge,
    .introduce {
        background-color: var(--light-black);
    }

    .incentive_year,
    .money_people {
        background-color: var(--blue);
    }

    .incentive_month {
        background-color: var(--light-blue);
    }
}

.charge_item,
.introduce_item {
    background-color: #EAEAEA;
    text-align: center;
}

.incentive_year_item {
    background-color: #E1EFFF;
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
}

.incentive_month_item {
    background-color: #E1EFFF;
    text-align: right;
    padding-right: 15px;
}

.money_people_item {
    text-align: right;
    padding-right: 15px;
}

/* 資格インセンティブ */
.certification_table {
    width: 90%;
    margin: 0 auto;
}

.certification_list {
    color: var(--white);
    background-color: var(--orange);
    height: 50px;
}

.institution,
.certification_name {
    text-align: left;
    padding-left: 15px;
}









/* ---------------------------------------------------
SP
--------------------------------------------------- */
@media screen and (max-width: 767px) {
/* -----------------------------------------メッセージ */
    .message_content {
        flex-direction: column;

        img {
            margin-bottom: 10px;
        }
    }

    .message_group {
        width: 100%;

        h4 {
            font-size: 21px;
            margin-bottom: 10px;
        }
    }



    /* -----------------------------------------Anselの特徴 */
    .r_feature_container {
        flex-direction: column;
    }

    .r_feature_content {
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }



    /* -----------------------------------------報酬体系 */
    .reward_wrapper {
        margin-bottom: 50px;

        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 16px;
        }
    }



    /* -----------------------------------------単価評価制度 */
    .evaluation_content {
        flex-direction: column;

        h4 {
            width: fit-content;
            margin-bottom: 10px;
        }
    }

    .evaluation_group {
        width: 100%;
        padding: 20px 15px;

        h5 {
            text-align: left;
        }
    }

    .evaluation_list_one,
    .evaluation_list_second {
        width: 100%;
    }



    /* -----------------------------------------想定給与表 */



    /* -----------------------------------------インセンティブ制度 */

    /* タイトル */
    .incentive_ttl {
        width: 100%;
        margin-bottom: 20px;

        h4 {
            font-size: 21px;
        }
    }

    /* 育成インセンティブ・紹介インセンティブ */
    .incentive_nurturing,
    .incentive_introduction {
        flex-direction: column;
        gap: 0;
    }

    .nurturing_table,
    .introduction_table,
    .certification_table {
        font-family: var(--font-noto);
    }
    /* 育成インセンティブ */

    .nurturing_list,
    .introduction_list {
        color: var(--white);

        .charge,
        .introduce {
            background-color: var(--light-black);
        }

        .incentive_year,
        .money_people {
            background-color: var(--blue);
        }

        .incentive_month {
            background-color: var(--light-blue);
        }
    }

    .charge_item,
    .introduce_item {
        background-color: #EAEAEA;
    }

    .incentive_year_item {
        background-color: #E1EFFF;
        font-weight: bold;
        text-align: right;
        padding-right: 15px;
    }

    .incentive_month_item {
        background-color: #E1EFFF;
        text-align: right;
        padding-right: 15px;
    }

    .money_people_item {
        text-align: right;
        padding-right: 15px;
    }

    /* 資格インセンティブ */
    .certification_table {
        width: 90%;
        margin: 0 auto;
    }

    .certification_list {
        color: var(--white);
        background-color: var(--orange);
    }

    .institution,
    .certification_name {
        text-align: left;
        padding-left: 15px;
    }
}