/* -----------------------------------------
事業内容ページ
----------------------------------------- */

/* -----------------------------------------コンテナ */
.p_service_container {
    position: relative;

    &::before {
        content: '';
        background-image: url(/images/blue-circle.png);
        background-repeat: no-repeat;
        width: 657px;
        height: 570px;
        position: absolute;
        top: 15%;
        right: -45%;
        z-index: -1;
    }

    &::after {
        content: '';
        background-image: url(/images/blue-circle.png);
        background-repeat: no-repeat;
        width: 657px;
        height: 570px;
        position: absolute;
        bottom: -10%;
        left: -45%;
        z-index: -1;
        transform: rotate(180deg);
    }
}

.p_service_content {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    h2 {
        font-size: 30px;
        font-weight: normal;
    }

    img {
        object-fit: contain;
        width: 50%;
    }
}

.p_service_ttl {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    img {
        width: 30px;
        height: 30px;
    }
}

.p_service_group {
    width: 50%;
}









/* ---------------------------------------------------
SP
--------------------------------------------------- */
@media screen and (max-width: 767px) {
    /* -----------------------------------------コンテナ */
    .p_service_content {
        flex-direction: column-reverse;
        gap: 20px;

        h2 {
            font-size: 21px;
        }

        img {
            width: 100%;
        }
    }

    .p_service_education {
        flex-direction: column;
    }

    .p_service_group {
        width: 100%;
    }
}