/* -----------------------------------------フッター */
.footer {
    background-color: var(--light-blue);
    padding-top: 50px;
}

.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.entry_btn {
    display: flex;
    gap: 20px;
    background-color: var(--white);
    width: fit-content;
    margin-bottom: 20px;
    padding: 15px 20px;
    transition: ease .3s;

    &:hover {
        color: var(--blue);
        border-radius: 30px;
    }

    p {
        font-weight: bold;
        letter-spacing: 0.15em;
    }
}

.footer_container {
    display: flex;
    justify-content: space-between;
    color: var(--white);

    h2 {
        font-size: 21px;
        font-family: var(--font-futura);
        font-weight: normal;
        letter-spacing: 0.15em;
        margin-bottom: 20px;
    }
}

.footer_company p {
    font-size: 12px;
    margin-bottom: 15px;
}

.footer_sns {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;

    a {
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--white);
        transition: ease .3s;

        p {
            font-family: var(--font-futura);
            letter-spacing: 0.15em;
        }

        &:hover {
            color: #ddd;
        }
    }
}

.footer_nav {
    display: flex;
    gap: 30px;
}

.footer_nav_list_left,
.footer_nav_list_right {

    a, button {
        color: var(--white);
        font-family: var(--font-hiragino);
    }
}

.footer_nav_list_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_nav_item > a,
.footer_nav_item > button {
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
}

.footer_nav_item > a {
    display: inline-block;
    margin-bottom: 20px;
}

.footer_nav_item a:hover {
    color: #ddd;
}

.footer_dropDown_item {
    margin-bottom: 5px;
}

.copyright {
    color: var(--white);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.15em;
    padding-bottom: 10px;
}





/* -----------------------------------------フッター */
    @media screen and (max-width: 767px) {

    .footer_inner {
        margin-bottom: 50px;
        padding: 0 15px;
    }

    .entry_btn {
        margin: 0 auto 20px;
    }

    .footer_container {
        flex-direction: column;

        h2 {
            font-size: 18px;
            text-align: center;
        }
    }

    .footer_company {
        width: fit-content;
        margin: 0 auto 20px;
    }

    .footer_sns {
        gap: 20px;
        margin-bottom: 30px;
        justify-content: center;

        a {
            gap: 10px;
        }
    }

    .footer_nav {
        justify-content: center;
    }
}